pandas -- version < 1.4
geopandas -- version = 0.14.3.
numpy -- version = 1.18.5.
matplotlib -- version = 3.2.2.
seaborn -- version = 0.10.1.
pathlib2 -- version = 2.3.5.
scikit-learn -- version =0.24.2
